
{% extends 'main/layout.html' %}
{% load static %} 
{% block title %} О бренде {% endblock %}
{% block content %}


        <div class="aboutBrandContainerH5">
            <h5 class="mainH5">О бренде</h5>
            <div class="MainContainerNav">
                <p>Главная</p>
                <p class="teell">&#8212</p>
                <p>О бренде</p>
            </div>
        </div>
        <div class="containerBrand">
            <div class="oneRowBrand">
                
                    <div class="blockItemOne"><img src="{% static 'main/image/womanbrand.png' %}" alt=""></div>
                    <div class="blockItemTwo">
                        <h5>Идея и женщина</h5>
                        <p>Womazing была основана в 2010-ом и стала одной из самых успешных компаний нашей страны. Как и многие итальянские фирмы, Womazing остаётся семейной компанией, хотя ни один из членов семьи не является модельером.</p>
                        <p>Мы действуем по успешной формуле, прибегая к услугам известных модельеров для создания своих коллекций. Этот метод был описан критиком моды Колином Макдауэллом как форма дизайнерского со-творчества, характерная для ряда итальянских prêt-a-porter компаний. </p>
                       
                    
              </div>  </div>
                <div class="twobrand">
                    <div class="blockItemOne"><img src="{% static 'main/image/girlsbrand.png ' %}" alt=""></div>
                    <div class="blockItemTwo">
                        <h5>Магия в деталях</h5>
                        <p>Первый магазин Womazing был открыт в маленьком городке на севере страны в 2010-ом году. Первая коллекция состояла из двух пальто и костюма, которые были копиями парижских моделей.
                        </p>
                        <p>Несмотря на то, что по образованию основательница была адвокатом, ее семья всегда была тесно связана с шитьём (прабабушка основательницы шила одежду для женщин, а мать основала профессиональную школу кроя и шитья). Стремление производить одежду для масс несло в себе большие перспективы, особенно в то время, когда высокая мода по-прежнему доминировала, а рынка качественного prêt-a-porter попросту не существовало. 
                        </p>
                                 
            </div>
        </div> <a style="text-decoration:none; color:#fff"href="{% url 'shop' %}"><button class="btnOpen btnBrand">Перейти в магазин</button></a>
                
            
        </div>
{% endblock %} 
</body>
</html>