{% extends 'main/layout.html' %}
{% load static %} 
{% block title %} Контакты {% endblock %}

{% block content %}
    
        <div class="contactContainerH5">
            <h5 class="mainH5">Контакты</h5>
            <div class="MainContainerNav">
                <p>Главная</p>
                <p class="teell">&#8212</p>
                <p>Контакты</p>
            </div>
        </div>
        <section class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d146571.68925410902!2d82.80898093185604!3d54.96989611797249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe5e190cc4d97%3A0x9b3a0673e1d3e985!2z0J3QvtCy0L7RgdC40LHQuNGA0YHQuiwg0J3QvtCy0L7RgdC40LHQuNGA0YHQutCw0Y8g0L7QsdC7Lg!5e0!3m2!1sru!2sru!4v1672423961081!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <ul class="cintactList">
            <li class="ContactItem">
                <p class="contactTelefon">Телефон</p>
                <p>+7 (495) 823-54-12</p>
                
            </li>
            <li class="ContactItem"><p  class="contactEmail"> E-mail</p><p> info@sitename.com</p>
               
            </li>
            <li class="ContactItem">
                <p class="contactAdress"> Адрес</p> <p>г. Москва, 3-я улица Строителей, 25</p>
                
            </li>
        </ul>
        <div class="contactRapport">
            <h6 class="ob_h6">
                Напишите нам
            </h6>
            <form class ="ob_form"action="">
                <div class="oblo">
                    <input type="text" class="ob_input"placeholder="Имя">
                    <input type="text" class="ob_input" placeholder="Email">
                    <input type="text" class="ob_input" placeholder="Телефон">
                </div>
                
                <textarea name="" id="" cols="50" rows="10" placeholder="Сообщение"></textarea>
                <button class="btn-project btnContactForms"><span>Отправить</span></button>
            </form>
            <div class="massengAccess">Сообщение успешно отправлено</div>
        </div>
    
{% endblock %}